/* 
författare: andreas
projekt: wordpress projekt
*/

/* * {
    box-sizing: border-box;
} */

body {
    padding: 0;
    margin: 0;
    background: whitesmoke;
}

h1 {
    color: darkcyan;
    font-size: 3rem;
}

h2 {
    color: darkcyan;
    font-size: 2rem;
    /* text-decoration: none; */
}

a{
    text-decoration: none;
    color: lightskyblue;
}

/* .blinking{
    animation:blinkingText 0.5s infinite;
}

@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
} */

.wp-image-96{
    width: 50%;
    height: 50%;
}

.wp-image-81{
    width: 50%;
    height: 50%;
}

.wp-image-83{
    width: 50%;
    height: 50%;
}

.posts {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.listCat{
    color: lime;
}

.header{
    background: blue;
    height: 150px;
}

.footer{
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
}